@model Niit.Models.An

@{
    ViewBag.Title = "Details";
}

<h2>Check the answer</h2>

<div>
    <h4>Submit Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task1.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task1.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
